@charset "UTF-8";

/*Roboto Mono*/

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("assets/fonts/Roboto_Mono/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Свойство для контроля переполнения потока.
Включать для нахождения элементов, которые выходят за ширину страницы
если появляется горизонтальная прокрутка на странице
*/

/* * {
    outline: solid 0.05em red;
} */

* {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
*:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

img {
  vertical-align: top;
}

input,
textarea {
  font-family: inherit;
  padding: 0;
}

input:-internal-autofill-selected {
  background-color: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:visited {
  text-decoration: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-size: 1rem;
  font-family: "Roboto Mono";
  background-color: #f6f6ec;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  line-height: 2;
  border-bottom: 0.05em #e5e8e7 solid;
}

.accordion-wrap {
  margin-top: 1rem;
}
.accordion {
  cursor: pointer;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
}
.accordion-header-text {
}
.accordion-icon-wrap {
  display: flex;
}
.accordion-icon {
  width: 1em;
  height: 1em;
}
.accordion-icon > img {
  width: 100%;
}
.open-icon {
}
.close-icon {
  display: none;
  width: 0.9em;
  height: 0.9em;
}

.accordion-content {
  width: 100%;
}
.accordion-content > img {
  width: 100%;
}
